{% extends "base.html" %}

{% block content %}

<div class="card text-center">

  <div class="card-header>
    Classroom Details
  </div>

  <div class="card-body">
    <h6 class="card-title">Subject: {{classroom.subject}}</h6>
    <p class="card-text" ">Year: {{classroom.year}}</p>
    <p class="card-text" ">Grade: {{classroom.grade}}</p>

    {# table #}
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th ="col">Name</th>
            <th ="col">DOB</th>
            <th ="col">Gender</th>
            <th ="col">Grade</th>

          </tr>
        </thead>

        <tbody>

        {% for student in students %}


          <tr>
            <td>{{student.name}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.exam_grade}}</td>
            {% if request.user == classroom.teacher  %}
            <td><a href="{% url 'student-update' student.classroom.id student.id  %}" class="btn btn-outline-primary btn-block">Update</a>
              <a href="{% url 'student-delete' student.classroom.id student.id  %}" class="btn btn-outline-primary btn-block">Delete</a></td>
            {% endif %}
          </tr>

        {% endfor %}

        </tbody>

      </table>

      {% if request.user == classroom.teacher  %}


      <div class="col-md-12">
        <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-outline-primary btn-block">Update</a>

        <a href="{% url 'classroom-delete' classroom.id %}" class="btn btn-outline-primary btn-block">Delete</a>

        <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-primary btn-block">Add Student</a>
      </div>


      {% endif %}



{% endblock content %}
